<div class="row g-3">
  <div class="col-sm">
    <div class="input-group">
      <div class="input-group-text">\(x_0\)</div>
      <input type="number" class="form-control" v-model="x0" value="0">
      <div class="input-group-text">\(m\)</div>
    </div>
  </div>
  <div class="col-sm">
    <div class="input-group">
      <div class="input-group-text">\(y_0\)</div>
      <input type="number" class="form-control" v-model="y0" value="50">
      <div class="input-group-text">\(m\)</div>
    </div>
  </div>
  <div class="col-sm">
    <div class="input-group">
      <div class="input-group-text">\(v_{0,x}\)</div>
      <input type="number" class="form-control" v-model="vx0" value="50">
      <div class="input-group-text">\(m.s\)</div>
    </div>
  </div>
  <div class="col-sm">
    <div class="input-group">
      <div class="input-group-text">\(v_{0,y}\)</div>
      <input type="number" class="form-control" v-model="vy0" value="50">
      <div class="input-group-text">\(m.s\)</div>
    </div>
  </div>
  <div class="col-sm">
    <div class="input-group">
      <div class="input-group-text">\(g\)</div>
      <input type="number" class="form-control" v-model="g">
      <div class="input-group-text">\(m.s^{-2}\)</div>
    </div>
  </div>
  <div class="col-auto">
    <button class="btn btn-primary" onClick="refresh()">Restart</button>
  </div>
</div>
<br /><br /><br />

<h5>TODO</h5>
